@{
    ViewData["Title"] = "Bildirimler";
}

<h2>@ViewData["Title"]</h2>

<div class="d-flex justify-content-between align-items-center p-3 shadow-sm bg-light">
    <h1 class="display-6">Hoşgeldin, @User.Identity.Name!</h1>
    <div>
        <a href="/Admin/Create" class="btn btn-outline-primary me-2">Etkinliklere Git</a>
        <a href="/Admin/Edit" class="btn btn-outline-primary me-2">Etkinliklere Git</a>
        <a href="/Admin/PendingOrders" class="btn btn-outline-primary me-2">Etkinliklere Git</a>
        <a href="/Admin/AllOrders" class="btn btn-outline-primary me-2">CheckAllOrders Git</a>
        <a href="/Admin/Skor" class="btn btn-outline-primary me-2">Skor Sayfasına Git</a>


    </div>
</div>


