@{
    ViewData["Title"] = "Bildirimler";
}

<h2>@ViewData["Title"]</h2>

<div class="d-flex justify-content-between align-items-center p-3 shadow-sm bg-light">
    <h1 class="display-6">Hoşgeldin, @User.Identity.Name!</h1>
    <div>
        <a href="/Customer/Index" class="btn btn-outline-primary me-2">Etkinliklere Git</a>
        <a href="/Customer/CheckOrder" class="btn btn-outline-primary me-2">Siparişler</a>

        <a href="/Customer/Check" class="btn btn-outline-primary me-2">Siparişler süre</a>

    </div>
</div>


